html, body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
.card {
    box-shadow: 0 0 10px #fff;
    color: #fff;
    border-radius: 10px;
}
.card-header {
    font-family: 'Fira Sans', sans-serif;
}
header {
    position: relative;
    background-color: black;
    height: 100%;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
header img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: 100%;
    z-index: 0;
    background-size: cover;
    transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
}
header .container {
    position: relative;
    z-index: 2;
}
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 1;
}
/* .gyl-image{
    height: 15px;
}
 */


 